includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - '#PHPDoc tag @property-read for property App\\Models\\.*::\$use_factory contains unknown class App\\Models\\TFactory.#'
    excludePaths:
        - app/Console/Commands/ShipOrder.php
